@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section page_header{
    <script type="text/javascript">
        var urlSave = '@Url.Action("SaveChangePassword", "Admin")';

        $(function () {
            $.extend($.fn.validatebox.defaults.rules, {
                minLength: {
                    validator: function (value, param) {
                        return value.length >= param[0];
                    },
                    message: 'at least {0} characters'
                },
                equals: {
                    validator: function (value, param) {
                        return value == $(param[0]).val();
                    },
                    message: 'passwords are not matched'
                }
            });

            $("#oldPassword").validatebox({
                required: true,
                validType: 'minLength[6]'
            });
            $("#newPassword").validatebox({
                required: true,
                validType: 'minLength[6]'
            });
            $('#newPassword2').validatebox({
                required: true,
                validType: "equals['#newPassword']"
            });

            $("#btnSubmit").click(function () {
                var oldPassword = $.trim($("#oldPassword").val()), newPassword = $.trim($("#newPassword").val());
                if ($("#fm").form("validate")) {
                    $.ajax({
                        type: "POST",
                        url: urlSave,
                        cache: false,
                        data: { oldpassword: oldPassword, newpassword: newPassword },
                        beforeSend: function () {
                            $("#result").html("");
                            $.blockUI({ message: "saving..." });
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            //alert(jqXHR.status + " " + textStatus + ":" + errorThrown);
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        success: function (result) {
                            $("#result").html(result);
                            $("#fm").form("clear");
                        }
                    });
                }
            });

            $("#oldPassword").focus();
        });
    </script>
}
@section nav{
    <div id="aa" class="easyui-accordion" data-options="multiple:false,selected:-1">
        @Html.Action("Navigation", new { group = "", item = "" })
    </div>
}
<div style="padding:5px 15px; font-size:16px;">Change Password</div>
<form id="fm" method="post" onsubmit="return false;">
    <div id="result" style="margin: 5px 0px 10px 0px; text-align: center;">
    </div>
    <table class="tbl-form" style="width: 98%; margin: 0px auto; border: none;" cellpadding="0" cellspacing="0">
        <tr style="height: 30px;">
            <td style="width: 20%; text-align: right">
                Old Password<span style="color: red;">*</span>：
            </td>
            <td style="text-align: left; padding-left: 10px;">
                <input type="password" id="oldPassword" name="oldPassword" />
            </td>
        </tr>
        <tr style="height: 30px;">
            <td style="text-align: right">
                New Password<span style="color: red;">*</span>：
            </td>
            <td style="text-align: left; padding-left: 10px;">
                <input type="password" id="newPassword" name="newPassword" />
            </td>
        </tr>
        <tr style="height: 30px;">
            <td style="text-align: right">
                Confirm Password<span style="color: red;">*</span>：
            </td>
            <td style="text-align: left; padding-left: 10px;">
                <input type="password" id="newPassword2" name="newPassword2" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td style="padding:10px 0px 0px 10px;">
                <input id="btnSubmit" name="btnSubmit" type="submit" value="Save" />
            </td>
        </tr>
    </table>
</form>




