@{
    ViewBag.Title = "CHANGE PASSWORD";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@section page_header{
    <script type="text/javascript">
        var urlSave = '@Url.Action("SaveChangePassword", "User")';

        $(function () {
            $.extend($.fn.validatebox.defaults.rules, {
                min: {
                    validator: function (value, param) {
                        return value.length >= param[0];
                    },
                    message: 'at least {0} characters'
                },
                equals: {
                    validator: function (value, param) {
                        return value == $(param[0]).val();
                    },
                    message: 'passwords are not matched'
                }
            });

            $("#btnSubmit").click(function () {
                var tbOldPassword = $.trim($("#tbOldPassword").val()), tbNewPassword = $.trim($("#tbNewPassword").val());
                if (tbOldPassword.length == 0 || tbNewPassword.length == 0) {
                    $.messager.alert({ title: "Invalid", msg: "All fields are required.", icon: "warning", width: 240, fn: function () {
                        return;
                    }});
                }

                if ($("#fm").form("validate")) {
                    $.ajax({
                        type: "POST",
                        url: urlSave,
                        cache: false,
                        data: { oldpassword: tbOldPassword, newpassword: tbNewPassword },
                        beforeSend: function () {
                            $.blockUI({ message: "updating..." });
                            $("#result").html("");
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            //alert(jqXHR.status + " " + textStatus + ":" + errorThrown);
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        success: function (result) {
                            $("#result").html(result);
                            $("#fm").form("clear");
                        }
                    });
                }
            });

            $("#tbOldPassword").focus();
        });
    </script>
}

<div style="height:40px;"></div>
<div class="main-area" style="text-align:center;">
    <div class="main-area-logo">
        <img src='@Url.Content("~/Content/images/logo.png")' alt="" />
    </div>
    <div style="font-size:40px;">CHANGE PASSWORD</div>
    <div style="height:30px;"></div>
    <div class="main-area-form">
        <form id="fm" method="post" onsubmit="return false;">
            <div class="main-form-field">
                <input type="text" id="tbOldPassword" name="oldpassword" placeholder="OLD PASSWORD" class="easyui-validatebox tb" data-options="required:true,validType:'min[6]',validateOnCreate:false,err:err" />
            </div>

            <div style="height:30px;"></div>
            <div class="main-form-field">
                <input type="text" id="tbNewPassword" name="newpassword" placeholder="NEW PASSWORD" class="easyui-validatebox tb" data-options="required:true,validType:'min[6]',validateOnCreate:false,err:err" />
            </div>

            <div style="height:30px;"></div>
            <div class="main-form-field">
                <input type="password" id="tbNewPassword2" name="newpassword2" placeholder="CONFIRM PASSWORD" class="easyui-validatebox tb" data-options='required:true,validType:"equals[\"#tbNewPassword\"]",validateOnCreate:false,err:err' />
            </div>

            <div style="height:40px;"></div>
            <div class="main-form-btns">
                <input type="submit" id="btnSubmit" value="SUBMIT" />
            </div>
        </form>
    </div>
</div>
